@import url(http://fonts.googleapis.com/css?family=Roboto);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html, body {
  height: 100%;
  min-height: 100%;
  font-family: "museo-sans-rounded", serif; }

body {
  padding: 0;
  margin: 0;
  color: #4e5256;
  position: relative;
  background-color: #BEE0E4;
  background-image: -webkit-linear-gradient(-250deg, #BEE0E4 0%, #649CB6 50%, #005183 90%);
  background-image: linear-gradient(-20deg,#BEE0E4 0%, #649CB6 50%, #005183 90%); }
  @media screen and (min-width: 40em) {
    body {
      overflow: hidden; } }
  @media screen and (max-width: 40em) {
    body {
      background: none;
      width: 100%; } }

.none {
  display: none; }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .none.show-portrait {
      display: block !important; } }

#wrapper {
  overflow: hidden !important;
  min-height: 100%; }
  @media screen and (max-width: 40em) {
    #wrapper {
      padding: 20px;
      background-color: #BEE0E4;
      background-image: -webkit-linear-gradient(-270deg, #BEE0E4 0%, #649CB6 50%, #005183 90%);
      background-image: linear-gradient(0deg,#BEE0E4 0%, #649CB6 50%, #005183 90%); } }

h1 {
  font-weight: 300;
  letter-spacing: -2px;
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin: 0; }
  @media screen and (min-width: 40em) {
    h1 {
      width: 1200px;
      bottom: 50%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -230px);
      -moz-transform: translate(-50%, -230px);
      -ms-transform: translate(-50%, -230px);
      -o-transform: translate(-50%, -230px);
      transform: translate(-50%, -230px); } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    h1 {
      width: 100%;
      font-size: 3.125em; } }
  @media screen and (max-width: 40em) {
    h1 {
      position: relative;
      font-size: 2.5em;
      margin: 40px auto;
      font-weight: 500; } }

@media screen and (min-width: 40em) {
  #logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transform: translateX(-600px);
    top: 70px;
    width: 250px; } }
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #logo {
    left: 30px;
    top: 40px;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }
@media screen and (max-width: 40em) {
  #logo {
    width: 150px;
    margin-top: 20px; } }

@media screen and (min-width: 40em) {
  #features {
    position: absolute;
    width: 1200px;
    top: 50%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); } }
  @media screen and (min-width: 40em) and (min-width: 40em) and (max-width: 63.9375em) {
    #features {
      top: 45%;
      width: auto; } }

@media screen and (min-width: 40em) {
  #features #app {
    width: 960px;
    height: 560px;
    background: url(../img/app.png) no-repeat center top;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1000; } }
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #features #app {
    width: 600px;
    height: 350px;
    background-size: 600px 350px; } }
@media screen and (max-width: 40em) {
  #features #app {
    background: url(../img/app.png) no-repeat center top;
    background-size: 500px 300px;
    width: 500px;
    height: 300px;
    margin-left: 40px; } }
#features #slides {
  z-index: 2000;
  position: relative;
  width: 1200px;
  overflow: visible !important; }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #features #slides {
      width: 600px;
      margin: 0 auto; } }
  @media screen and (max-width: 40em) {
    #features #slides {
      width: auto; } }
  #features #slides .slide {
    position: relative;
    z-index: 5000;
    overflow: visible !important; }
    @media screen and (min-width: 40em) {
      #features #slides .slide {
        width: 1200px;
        height: 560px; } }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      #features #slides .slide {
        width: 600px;
        height: 350px; } }
    @media screen and (max-width: 40em) {
      #features #slides .slide {
        margin: 60px 0; } }
    #features #slides .slide h2 {
      font-weight: 300;
      font-size: 2em;
      color: #fff;
      text-align: center; }
      @media screen and (min-width: 40em) {
        #features #slides .slide h2 {
          position: absolute;
          width: 1200px;
          top: -180px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 100px;
          opacity: 0; } }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #features #slides .slide h2 {
          width: 600px;
          font-size: 1.5em;
          top: -140px; } }
      @media screen and (max-width: 40em) {
        #features #slides .slide h2 {
          opacity: 1;
          font-size: 1.25em;
          font-weight: 500; } }
    #features #slides .slide figure {
      width: 320px;
      height: 320px;
      border: 8px solid #FFFFFF;
      box-shadow: 0px 2px 30px 0px rgba(29, 73, 99, 0.5);
      border-radius: 320px !important;
      display: block;
      margin: 0;
      overflow: hidden;
      background: #666; }
      @media screen and (min-width: 40em) {
        #features #slides .slide figure {
          position: absolute;
          opacity: 0; } }
      @media screen and (max-width: 40em) {
        #features #slides .slide figure {
          box-shadow: none;
          margin: 0 auto 20px;
          width: 80%;
          height: auto; } }
      @media screen and (max-width: 40em) {
        #features #slides .slide figure:after {
          content: "";
          display: block;
          padding-top: 100%; } }
    #features #slides .slide.cycle-slide-active figure {
      opacity: 1;
      -webkit-transition: 1s opacity;
      -moz-transition: 1s opacity;
      transition: 1s opacity;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      transition-delay: 0; }
    #features #slides .slide.cycle-slide-active h2 {
      opacity: 1;
      -webkit-transition: 1s opacity;
      -moz-transition: 1s opacity;
      transition: 1s opacity; }
    #features #slides .slide#zoom1 figure {
      background: #045485 url(../img/zoom1.png) no-repeat top center;
      z-index: 5005; }
      @media screen and (min-width: 40em) {
        #features #slides .slide#zoom1 figure {
          top: -50px;
          left: 40px; } }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #features #slides .slide#zoom1 figure {
          top: -50px;
          left: -80px; } }
      @media screen and (max-width: 40em) {
        #features #slides .slide#zoom1 figure {
          position: relative; } }
    #features #slides .slide#zoom1 #left-menu-container {
      width: 960px;
      height: 560px;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      z-index: 5002;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #features #slides .slide#zoom1 #left-menu-container {
          width: 600px;
          height: 350px; } }
      #features #slides .slide#zoom1 #left-menu-container #left-menu {
        position: absolute;
        top: 26px;
        left: -190px;
        width: 190px;
        height: 560px;
        background: url(../img/menu.svg) no-repeat left top;
        z-index: 5003; }
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
          #features #slides .slide#zoom1 #left-menu-container #left-menu {
            width: 120px;
            height: 340px;
            top: 16px;
            background: #045485 url(../img/menu.svg) no-repeat left top;
            background-size: 120px auto; } }
    #features #slides .slide#zoom1.cycle-slide-active figure {
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      transition-delay: 1s; }
    #features #slides .slide#zoom1.cycle-slide-active #left-menu-container #left-menu {
      left: 0px;
      -webkit-transition: 1s left;
      -moz-transition: 1s left;
      transition: 1s left; }
    #features #slides .slide#zoom2 figure {
      background: #fff url(../img/zoom2.png) no-repeat top center;
      top: 100px;
      left: 200px;
      z-index: 5005; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #features #slides .slide#zoom2 figure {
          left: 120px; } }
    #features #slides .slide#zoom3 figure {
      background: #4E5256 url(../img/zoom3.png) no-repeat top center;
      top: 10px;
      left: 550px;
      z-index: 5008; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #features #slides .slide#zoom3 figure {
          left: 360px; } }
  #features #slides .cycle-pager {
    position: absolute;
    left: 50%;
    top: -100px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      #features #slides .cycle-pager {
        top: -60px; } }
    #features #slides .cycle-pager span {
      display: block;
      width: 6px;
      height: 6px;
      margin: 0 3px;
      display: inline-block;
      overflow: hidden;
      text-indent: -10000px;
      border: 2px solid #055686;
      background: #055686;
      border-radius: 10px;
      cursor: pointer; }
      #features #slides .cycle-pager span.cycle-pager-active {
        background: #fff;
        border-color: #fff; }

#more {
  background: #0d3c59;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 10px 20px 10px 20px; }
  @media screen and (max-width: 40em) {
    #more {
      position: relative;
      right: auto;
      left: auto;
      bottom: auto;
      margin-left: -20px;
      margin-right: -20px; } }
  #more h2 {
    color: #fff;
    display: inline-block;
    line-height: 40px;
    margin: 0;
    vertical-align: middle; }
    @media screen and (max-width: 40em) {
      #more h2 {
        line-height: 28px;
        font-size: 1.25em;
        margin: 10px 0 20px; } }
    @media screen and (max-width: 40em) {
      #more h2 #one-year-free {
        background: #de0b3d;
        white-space: nowrap;
        padding: 0px 5px;
        display: inline-block; } }
  #more form {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px; }
    #more form input {
      display: inline-block;
      margin: 0;
      margin-left: 10px;
      width: 320px;
      height: 40px;
      vertical-align: top;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border: 0;
      padding: none;
      box-shadow: none; }
      @media screen and (max-width: 40em) {
        #more form input {
          width: 100%;
          border-radius: 4px;
          margin-left: 0; } }
    #more form button {
      display: inline-block;
      margin: 0;
      height: 40px;
      vertical-align: top;
      line-height: 40px;
      font-size: 1.125em;
      padding: 0px 10px;
      background: #069854;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
      @media screen and (max-width: 40em) {
        #more form button {
          width: auto;
          border-radius: 4px;
          margin-top: 5px; }
          #more form button br {
            display: none !important; } }

footer {
  background: #0d3c59;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px 15px;
  color: #bee0e4;
  font-size: 1em;
  line-height: 40px;
  vertical-align: middle;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }
  @media screen and (max-width: 40em) {
    footer {
      position: relative;
      bottom: auto;
      right: auto;
      left: auto;
      margin: 0 -20px -30px;
      border-radius: 0;
      padding: 40px 0 60px;
      text-align: center; } }
  footer a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    margin-left: 3px; }

@media only screen and (min-width: 40em) and (max-height: 890px) {
  #logo {
    top: 50px; }

  h1 {
    font-size: 3.125em;
    -webkit-transform: translate(-50%, -150px);
    -moz-transform: translate(-50%, -150px);
    -ms-transform: translate(-50%, -150px);
    -o-transform: translate(-50%, -150px);
    transform: translate(-50%, -150px); }

  #features #slides .slide h2 {
    font-size: 1.5em;
    top: -130px; }
  #features #slides .cycle-pager {
    top: -70px; } }
@media only screen and (min-width: 40em) and (min-height: 890px) and (max-height: 1000px) {
  #logo {
    top: 60px; }

  n
  h1 {
    font-size: 3.5em;
    -webkit-transform: translate(-50%, -180px);
    -moz-transform: translate(-50%, -180px);
    -ms-transform: translate(-50%, -180px);
    -o-transform: translate(-50%, -180px);
    transform: translate(-50%, -180px); }

  #features #slides .slide h2 {
    font-size: 1.75em;
    top: -140px; }
  #features #slides .cycle-pager {
    top: -70px; } }
